.page.theme_dark {
  --color-text-primary: #F1B2CE;
  --color-text-secondary: #000028;
  --color-title: #DB00FF;
  --color-accent: #ff0070;
  --color-interactive: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decoration {
  display: flex;
}

.theme_dark .header__theme-menu-button:hover {
  border-block: 1px solid rgba(255, 0, 112, 0.40);
  border-inline: 1px solid rgba(255, 0, 112, 0.40);
}