.page.theme_light {
  --color-text-primary: #353430;
  --color-text-secondary: #353430;
  --color-title: #FFC2E6;
  --color-accent: #ff8dcb;
  --color-interactive: #353430;
  --background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decoration {
  display: none;
}

.theme_light .header__theme-menu-button:hover {
  border-block: 1px solid rgba(50, 49, 45, 0.40);
  border-inline: 1px solid rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text-primary: #353430;
    --color-text-secondary: #353430;
    --color-title: #FFC2E6;
    --color-accent: #ff8dcb;
    --color-interactive: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
  
  .header__decoration {
    display: none;
  }
  
  .header__theme-menu-button:hover {
    border-block: 1px solid rgba(50, 49, 45, 0.40);
    border-inline: 1px solid rgba(50, 49, 45, 0.40);
  }
}  


@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .footer__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}