:root {
  --color-text-primary: #F1B2CE;
  --color-text-secondary: #000028;
  --color-title: #DB00FF;
  --color-accent: #ff0070;
  --color-interactive: #ff0070;
  --font-family-primary: 'IBM Plex mono';
  --font-size-base: 18px;
  --background-image: url(../images/cover-image-dark.png);
}